@font-face {
  font-family: 'Klartext Mono Light';
  src: url('../fonts/KlartextMono-Light-webfont.eot');
  src: url('../fonts/KlartextMono-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/KlartextMono-Light-webfont.woff2') format('woff2'),
       url('../fonts/KlartextMono-Light-webfont.woff') format('woff'),
       url('../fonts/KlartextMono-Light-webfont.ttf') format('truetype'),
       url('../fonts/KlartextMono-Light-webfont.svg#klartext_monolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Carefree';
  src: url('../fonts/carefree-webfont.eot');
  src: url('../fonts/carefree-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/carefree-webfont.woff2') format('woff2'),
       url('../fonts/carefree-webfont.woff') format('woff'),
       url('../fonts/carefree-webfont.ttf') format('truetype'),
       url('../fonts/carefree-webfont.svg#carefreeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}