---
layout: page
category: about
glyph: about
quote: Polaris Chen
title: 关于我
date: 2016-02-16
imgs:
---

<div class="card-1">
    <div class="card-content">
        {% if page.imgs %}
        <div class="post-wall">
            {% for img in page.imgs %}
            <div class="rect{% decrement i %}" style="background-image: url({{ site.baseurl }}/assets/img/about/{{ img }})"></div>
            {% endfor %}
        </div>
        {% endif %}

        <h1>{{ page.title }}</h1>

        <div class="post-info">
            <time>{{ page.date | date_to_string }}</time>
            <span>&nbsp;-&nbsp;</span>
            <span>{{ page.category | upcase }}</span>
        </div>

        <article class="post-content">

            <h2>Polaris Chen</h2>
            <p>96年摩羯男，现在在南京，南大，即将毕业。</p>
            <p>懂一点设计，懂一点开发。</p>
            <p>有许多想做的事，做了一些。</p>

        </article>
    </div>
</div>
