<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% include css.html %}
<title>{{ page.title }}</title>

</head>
<body>

{% include header.html %}

<section class="posts">
    <article class="post">
        <h2>{{ page.title }}</h2>
        {{ content }}
    </article>
    <footer class="post-footer">
        <time>{{ page.date | date_to_string }}</time>
        <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
        <a href="{{ site.baseurl }}{{ page.category }}">{{ page.category | upcase }}</a>
        <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
        <a href="{{ site.baseurl }}{{ page.url }}#disqus_thread">0 Comments</a>
    </footer>
</section>

<section class="post-navigation">
    {% if page.previous.title != null %}
    <a class="prev" href="{{ site.baseurl }}{{ page.previous.url }}">&lt;&nbsp;{{ page.previous.title }}</a>
    {% endif %}
    {% if page.next.title != null %}
    <a class="next" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}&nbsp;&gt;</a>
    {% endif %}
</section>

<section>
<div id="disqus_thread"></div>
</section>

{% include footer.html %}

{% include disqus.html %}
{% include baidu-analytics.html %}
{% include google-analytics.html %}

</body>
</html>
