<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% include css.html %}
<title>{{ page.title }}</title>

</head>
<body>

{% include header.html %}

<section class="posts">
    <article class="post">
        <h2>{{ page.title }}</h2>
        {{ content }}
    </article>
    <footer class="post-footer">
        <time>{{ page.date | date_to_string }}</time>
        <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
        <a href="{{ site.baseurl }}{{ page.category }}">{{ page.category | upcase }}</a>
        <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
        <a href="{{ site.baseurl }}{{ page.url }}#disqus_thread">0 Comments</a>
    </footer>
</section>

<section class="post-navigation">
    {% if page.previous.title != null %}
    <a class="prev" href="{{ site.baseurl }}{{ page.previous.url }}">&lt;&nbsp;{{ page.previous.title }}</a>
    {% endif %}
    {% if page.next.title != null %}
    <a class="next" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}&nbsp;&gt;</a>
    {% endif %}
</section>

<section>
<div id="disqus_thread"></div>
</section>

<script>
var disqus_config = function () {
this.page.url = {{ page.url }};
this.page.identifier = {{ page.id }};
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//bus1996.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<script id="dsq-count-scr" src="//bus1996.disqus.com/count.js" async></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% include footer.html %}

</body>
</html>
